* {}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    text-align: center;
    margin: 20px;
}

#result {
    font-size: 24px;
    margin-top: 20px;
}

h1 {
    color: #333;
}

button {
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}

.emoji {
    font-size: 24px;
}

/* Animasi */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s;
}
